:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --container-padding: 2rem;
  --text: hsl(54, 9%, 85%);
  --text-hl: hsl(54, 9%, 95%);
  --surface: hsl(55, 48%, 6%)
}

body {
	margin: 0;
	padding: 0;
  color: var(--text);
  background: var(--surface);
}

html,
body,
body > div {
  min-height: 100%;
}

body > div {
  display: flex;
  flex-direction: column;
}

svg.icon {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}

a, a:visited {
  color: var(--text);
  text-decoration: none;
}
